body{
margin:0px;
}

body {
  background-color: rgb(51, 51, 32);  
  background-image: url(../img/fon_main.jpg);
  background-repeat: no-repeat;
  background-position: center;   /* Центрирует картинку */
  background-attachment: fixed;  /* Фиксирует фон при прокрутке */
  background-size: cover;        /* Растягивает картинку на весь экран */
  /*background-size: 100%;  /**/
}

.header { 
  /*background-color: #ccc; */
  padding: 20px; 
  text-align: right; 
}
.wmain { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;  
  align-items: stretch;  
  align-content: stretch;

  width: 95%;  
  min-height: 400px; 
  padding: 20px; 
}

.wmain_left{
/*  display: inline-block;*/
  display: flex;
  flex-direction: column;
  margin: 3px;
  padding: 3px; 
  width: 165px; 
  flex-grow: 0;
  border-style: solid;
  border-width: 2px;
  border-color: #eba609;
  border-radius: 5px;  
}

.wmain_right{
/*  display: inline-block;*/
  margin: 3px;
  padding: 3px; 
  width: 440px;
  flex-grow: 1;
  border-style: solid;
  border-width: 2px;
  border-color: #eba609;
  border-radius: 5px;  
}
/********************************************/
#win_news{
  margin: 1px;
  padding: 5px;
  background-color: #fafbe4;
  font-family: JuraLight;
  font-size: 20px;
  font-weight: 800;
  
  color: #000000;
  opacity: 0.9;  
/*  width: 80%;*/

  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #96bdcf;

  color: #000000;
  text-align: center;
}
.news_zag{
/*margin: 5px; */
  background-color: #efe4fb;
  opacity: 0.8;
  padding: 5px;
  border-style: solid;
  border-width: 0px;
  border-color: #96bdcf;  
  text-align: left;
}
.news_body{
  background-color: #fafbe4;
  /* margin: 5px; */
  background-color: #fafbe4;
  opacity: 0.8;
  padding: 5px;
  border-style: solid;
  border-width: 0px;
  border-color: #96bdcf;  
  text-align: left;
}

/********************************************/
#win_menu {
    margin: 1px;
    padding: 5px;
    background-color: #fafbe4;
    font-family: JuraLight;
    font-size: 20px;
    font-weight: 800;
    color: #000000;
    opacity: 0.9;
/*    width: 80%; */
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #96bdcf;
    color: #000000;
    text-align: center;
}  

.menu_body {
    margin-left: 1%;
    margin-bottom: 2%;
    padding: 5px;
    background-color: #e4e9fb;
    font-family: JuraLight;
    font-size: 20px;
    font-weight: 800;
    color: #000000;
    /* opacity: 1; */
    /* width: 80%; */
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #96bdcf;
    color: #000000;
    text-align: left;
}

/********************************************/
#win_kont{
  margin: 1px;
  padding: 5px;
  background-color: #fafbe4;
  font-family: JuraLight;
  font-size: 20px;
  font-weight: 800;
  
  color: #000000;
  opacity: 0.9;  
/*  width: 80%;*/

  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #96bdcf;

  color: #000000;
  text-align: center;
}
.kont_body{
  margin: 3px;
  padding: 5px;
  background-color: #fafbe4;
  font-family: JuraLight;
  font-size: 20px;
  font-weight: 800;
  
  color: #000000;
/*  opacity: 0.6;  */
/*  width: 95%;*/

  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #96bdcf;

  color: #000000;
  text-align: left;
}
/********************************************/
#win_vaka{
  margin: 1px;
  padding: 5px;
  background-color: #fafbe4;
  font-family: JuraLight;
  font-size: 20px;
  font-weight: 800;
  
  color: #000000;
  opacity: 0.9;  
/*  width: 80%;*/

  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #96bdcf;

  color: #000000;
  text-align: center;
}
.vaka_body{
  margin: 3px;
  padding: 5px;
  background-color: #fafbe4;
  font-family: JuraLight;
  font-size: 20px;
  font-weight: 800;
  
  color: #000000;
/*  opacity: 0.6;  */
/*  width: 95%;*/

  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #96bdcf;

  color: #000000;
  text-align: left;
}
/********************************/

#win_offers{
  margin: 1px;
  padding: 5px;
  background-color: #fafbe4;
  font-family: JuraLight;
  font-size: 20px;
  font-weight: 800;
  
  color: #000000;
  opacity: 0.9;  
/*  width: 80%;*/

  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #96bdcf;

  color: #000000;
  text-align: center;
}
.offers_zag{
/*margin: 5px; */
  background-color: #efe4fb;
  opacity: 0.8;
  padding: 5px;
  border-style: solid;
  border-width: 0px;
  border-color: #96bdcf;  
  text-align: left;

}
.offers_body{
  background-color: #fafbe4;
  /* margin: 5px; */
  background-color: #fafbe4;
  opacity: 0.8;
  padding: 5px;
  border-style: solid;
  border-width: 0px;
  border-color: #96bdcf;  
  text-align: left;
}
/*******************************************************/
#win_offers_get{
  min-width: 350px; 
  margin: 5px;
  background-color: #fafbe4;
  opacity: 0.8; 
  padding: 5px;

  margin: 1px;
  padding: 5px;
  background-color: #fafbe4;
  font-family: JuraLight;
  font-size: 20px;
  font-weight: 800;
  
  color: #000000;
  opacity: 0.9;  

  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #96bdcf;

  color: #000000;
  text-align: center;
}

.form_edit {
  grid-template-columns: 166px 1fr;
  margin: 3px;
  font-size: 18px;
}  

#win_offers_get textarea {
  font-family: JuraLight;
  font-size: 18px;
  width: 98%;
}

.button_offers {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    width: 147px;
    font-size: 20px;
    /* font-style: italic; */
    background-color: #a71e1e;
    color: #e1ff01;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    transition: background 0.3s;
    opacity: 0.6;
}    

.edit_control{
  width: 214px;
  height: 16px;
}


.edit_control_select{
  width: 214px;
  height: 24px;
}

.footer { 
  /*background-color: #ccc; */
  padding: 20px; 
  text-align: center; 
}

/*  --------------------------------------------------*/

.header .custom-button {
    padding: 6px;
    margin: 5px;
    width: 56px;
    font-size: 18px;
    font-style: normal;
    background-color: #0c0c00;
    color: #e1ff01;
    opacity: 0.5;
}    


/*******************************************/
/****************************************************/

.elem_kur {
  background-color: hwb(103 0% 51%); /* Эффект при наведении */
  color: rgb(241, 239, 198)
}

/*******************************************/
/****************************************************/
.delete{
  display: none
}






/* контейнер авторизации */
.container_av {
  position: absolute;
  background-color: hsl(0, 0%, 0%);
  border-radius: 20px;
  opacity: 0.85;
  height: 200px;
  width: 340px;
  top: 50%;
  left: 50%;  
  transform:translate(-50%,-50%);
  /*
  top: 25%;
  left: 20%;
  */
}
/* Заголовок авторизации */
.heading_av {
  font-family: JuraLight;
  font-size: 20px;
  color: #09c8f8;
  margin-left: 50px;
}

/* Формы авторизации */
.form-control {
  margin-left: 10%;
  margin-bottom: 5%;
  background-color: #fafbe4;
  font-family: JuraLight;
  font-size: 20px;
  font-weight: 800;
  color: #000000;
  width: 80%;
}
/* Кнопка авторизации */
.btn-av {
  position: absolute;
  left: 30%;
  margin-bottom: 5%;
  background-color: #09c8f8;
  text-align: center;
  font-family: JuraLight;
  font-size: 20px;
  color: #fafbe4;
  ;
}
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
.custom-button:hover {
  background-color: hsl(211, 96%, 82%); /* Эффект при наведении */
}


