/*****************************************************/
/*******        Редакт.Добавить               ********/
/*****************************************************/
.form_edit {
  display: grid;
  grid-template-columns: 120px 1fr;
  margin: 10px;
  vertical-align: middle;
}  

.form_edit * {
    height: 30px;
  	padding: 3px;
    text-align: left; /* Контент размещаем в центре по горизонтали */
    vertical-align: middle;
}

.form_edit_MO {  
  display: grid;
  grid-template-columns: 300px 50px;
  margin: 10px;
  vertical-align: middle;
}

.form_edit_MO * {
    height: 30px;
  	padding: 3px;
    text-align: left; /* Контент размещаем в центре по горизонтали */
    vertical-align: middle;
}



.form_edit_c0 {
  text-align: right; /* Контент размещаем в центре по горизонтали */
}

/*************************************/
/*      Списки              **********/
/*                          **********/
/*************************************/
.win_list{
    background-color: #fafbe4;
    color: #000000;
    opacity: 0.9;
    font-family: JuraLight;
    font-weight: 800;
    font-size: 15px; 
    text-align: center;
}

.grid {
	display: table;	
	width: 100%;
}
.grid-tr-0 {
	 display: table-row;
   height: 30px;
  background-color:rgb(48 46 135);
  color:#fdfa1f;
  text-align: center;

}
.grid-tr {
  height: 25px;
	display: table-row;
  background-color:#e7e7cb;
  color:rgb(25, 0, 255); 
  text-align: left;
}
/* Эффект при наведении */
/*
.grid-tr:hover {
  background-color: hsl(60, 96%, 56%); 
}  
*/

.grid-td {
    display: table-cell;	
	width: 33.3%;
	vertical-align: center;
	padding: 5px;
    border: 1px solid; 
    border-color: black;
}

.grid-td_mo {
	display: table-cell;	
	width: 25%;
	vertical-align: center;
	padding: 5px;
    border: 1px solid; 
    border-color: black;
}
