
/*********************************************************************/
/*********************************************************************/
/*********************************************************************/
body {
  background-color: rgb(51, 51, 32);  
  background-image: url(../img/fon_work.jpg);
  background-repeat: no-repeat;
  background-position: center;   /* Центрирует картинку */
  background-attachment: fixed;  /* Фиксирует фон при прокрутке */
  background-size: cover;        /* Растягивает картинку на весь экран */
  /*background-size: 100%;  /**/
}

.wmain { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;  
  align-items: stretch;  
  align-content: stretch;

  width: 100%;  
  min-height: 400px; 
  padding: 20px; 
}

.wmain_left{
/*  display: inline-block;*/
  display: flex;
  flex-direction: column;
  margin: 3px;
  padding: 3px; 
  width: 290px; 
  flex-grow: 0;
  border-style: solid;
  border-width: 2px;
  border-color: #96bdcf;
  border-radius: 5px;  
}

.wmain_right{
/*  display: inline-block;*/
  margin: 3px;
  padding: 3px; 
  width: 200px;
  flex-grow: 1;
  border-style: solid;
  border-width: 2px;
  border-color: #96bdcf;
  border-radius: 5px;  
}


#win_user_edit{
  width: 370px;
  margin: 5px;
  background-color: #fafbe4;
  opacity: 0.8; 
  padding: 5px;
}

#win_user_edit_MOO {
  width: 370px;
  margin: 5px;
  background-color: #fafbe4;
  opacity: 0.8; 
  padding: 5px;
}


/*************************************/
/*      Списки              **********/
/*                          **********/
/*************************************/
.grid {
	display: table;	
	width: 100%;
}
.grid-tr-0 {
	 display: table-row;
   height: 30px;
  background-color:rgb(48 46 135);
  color:#fdfa1f;
  text-align: center;

}
.grid-tr {
   height: 25px;
	 display: table-row;
   background-color:#e7e7cb;
   color:rgb(25, 0, 255); 
}
/* Эффект при наведении */
/*
.grid-tr:hover {
  background-color: hsl(60, 96%, 56%); 
}  
*/



.grid-td {
	display: table-cell;	
	width: 33.3%;
	vertical-align: center;
	padding: 5px;
  border: 1px solid; 
  border-color: black;
}
/*****************************************************/
/*******        Редакт.Добавить               ********/
/*****************************************************/
.form_edit {
  display: grid;
  grid-template-columns: 120px 1fr;
  margin: 10px;
  vertical-align: middle;
}  

.form_edit * {
    height: 30px;
  	padding: 3px;
    text-align: left; /* Контент размещаем в центре по горизонтали */
    vertical-align: middle;
}

.form_edit_MO {  
  display: grid;
  grid-template-columns: 300px 50px;
  margin: 10px;
  vertical-align: middle;
}

.form_edit_MO * {
    height: 30px;
  	padding: 3px;
    text-align: left; /* Контент размещаем в центре по горизонтали */
    vertical-align: middle;
}



.form_edit_c0 {
  text-align: right; /* Контент размещаем в центре по горизонтали */
}

.edit_control{
  width: 214px;
  height: 16px;
}


.edit_control_select{
  width: 214px;
  height: 24px;
}



/*****************************************************/
/*****************************************************/
.custom-button {
/*  display: inline-block;*/
  padding: 10px;
  margin: 5px;
  width: 250px;
  background-color: #030171;
  color: #fcf268;
  border-radius: 5px;
  cursor: pointer; /* Делает курсор в виде руки */
  user-select: none; /* Запрещает выделение текста */
  transition: background 0.3s;
  opacity: 0.8; 
}
.custom-button:hover {
  background-color: #0056b3; /* Эффект при наведении */
}
.custom-button:active {
  transform: translateY(1px); /* Эффект нажатия */
}

.elem_kur {
  background-color: hwb(103 0% 51%); /* Эффект при наведении */
  color: rgb(241, 239, 198)

}